.TableContainer{
    position: sticky;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.selectcss{
    width: 349px;
     height: 39px;
     border-color: #ced4da;
     border-radius: 5px;
     margin-top: 1px;
     outline: none;
 }