.container{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1565616;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    position: relative;
    height: auto;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    input{
        margin: 30px 0px;
    }
    form{
  
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        align-items: center;
        justify-content: center;
        input{
            width: 400px;
            margin: 10px;
        }
        button{
            width: 270px;
        }
    }
}
.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{

    }
}
textarea{
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
}